In [7]:

%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv("D:\\kuliah\\sem3\\data mining\\data.jabarprov.go.id\\bps-od_17058_persentase_penduduk_miskin_berdasarkan_kabupatenkota_data.csv")
df.head(32)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,persentase_penduduk,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,9.97,PERSEN,2010
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,10.65,PERSEN,2010
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,14.32,PERSEN,2010
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,9.30,PERSEN,2010
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,13.94,PERSEN,2010
5,6,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,12.79,PERSEN,2010
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,10.34,PERSEN,2010
7,8,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,14.68,PERSEN,2010
8,9,32,JAWA BARAT,3209,KABUPATEN CIREBON,16.12,PERSEN,2010
9,10,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,15.52,PERSEN,2010
10,11,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,12.94,PERSEN,2010
11,12,32,JAWA BARAT,3212,KABUPATEN INDRAMAYU,16.58,PERSEN,2010
12,13,32,JAWA BARAT,3213,KABUPATEN SUBANG,13.54,PERSEN,2010
13,14,32,JAWA BARAT,3214,KABUPATEN PURWAKARTA,10.57,PERSEN,2010
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,12.21,PERSEN,2010
15,16,32,JAWA BARAT,3216,KABUPATEN BEKASI,6.11,PERSEN,2010
16,17,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,14.68,PERSEN,2010
17,18,32,JAWA BARAT,3271,KOTA BOGOR,9.47,PERSEN,2010
18,19,32,JAWA BARAT,3272,KOTA SUKABUMI,9.24,PERSEN,2010
19,20,32,JAWA BARAT,3273,KOTA BANDUNG,4.95,PERSEN,2010
20,21,32,JAWA BARAT,3274,KOTA CIREBON,12.00,PERSEN,2010
21,22,32,JAWA BARAT,3275,KOTA BEKASI,6.30,PERSEN,2010
22,23,32,JAWA BARAT,3276,KOTA DEPOK,2.84,PERSEN,2010
23,24,32,JAWA BARAT,3277,KOTA CIMAHI,7.40,PERSEN,2010
24,25,32,JAWA BARAT,3278,KOTA TASIKMALAYA,20.71,PERSEN,2010
25,26,32,JAWA BARAT,3279,KOTA BANJAR,8.47,PERSEN,2010
26,27,32,JAWA BARAT,3201,KABUPATEN BOGOR,9.65,PERSEN,2011
27,28,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,10.28,PERSEN,2011
28,29,32,JAWA BARAT,3203,KABUPATEN CIANJUR,13.82,PERSEN,2011
29,30,32,JAWA BARAT,3204,KABUPATEN BANDUNG,8.99,PERSEN,2011
30,31,32,JAWA BARAT,3205,KABUPATEN GARUT,13.47,PERSEN,2011
31,32,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,12.36,PERSEN,2011

In [15]:

df1 = pd.read_csv("D:\\kuliah\\sem3\\data mining\\data.jabarprov.go.id\\diskuk-od_17372_jml_ush_mikro_kecil_menengah_umkm__kabupatenkota_data.csv")
df1.head(33)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_umkm,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,375048,UNIT,2016
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,269002,UNIT,2016
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,250808,UNIT,2016
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,353277,UNIT,2016
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,259141,UNIT,2016
5,6,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,188068,UNIT,2016
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,139719,UNIT,2016
7,8,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,94885,UNIT,2016
8,9,32,JAWA BARAT,3209,KABUPATEN CIREBON,252604,UNIT,2016
9,10,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,156841,UNIT,2016
10,11,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,116203,UNIT,2016
11,12,32,JAWA BARAT,3212,KABUPATEN INDRAMAYU,191046,UNIT,2016
12,13,32,JAWA BARAT,3213,KABUPATEN SUBANG,169778,UNIT,2016
13,14,32,JAWA BARAT,3214,KABUPATEN PURWAKARTA,87246,UNIT,2016
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,233606,UNIT,2016
15,16,32,JAWA BARAT,3216,KABUPATEN BEKASI,231042,UNIT,2016
16,17,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,156287,UNIT,2016
17,18,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,60293,UNIT,2016
18,19,32,JAWA BARAT,3271,KOTA BOGOR,86406,UNIT,2016
19,20,32,JAWA BARAT,3272,KOTA SUKABUMI,39982,UNIT,2016
20,21,32,JAWA BARAT,3273,KOTA BANDUNG,343938,UNIT,2016
21,22,32,JAWA BARAT,3274,KOTA CIREBON,40224,UNIT,2016
22,23,32,JAWA BARAT,3275,KOTA BEKASI,203056,UNIT,2016
23,24,32,JAWA BARAT,3276,KOTA DEPOK,162388,UNIT,2016
24,25,32,JAWA BARAT,3277,KOTA CIMAHI,56910,UNIT,2016
25,26,32,JAWA BARAT,3278,KOTA TASIKMALAYA,91113,UNIT,2016
26,27,32,JAWA BARAT,3279,KOTA BANJAR,25896,UNIT,2016
27,28,32,JAWA BARAT,3201,KABUPATEN BOGOR,398253,UNIT,2017
28,29,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,285646,UNIT,2017
29,30,32,JAWA BARAT,3203,KABUPATEN CIANJUR,266326,UNIT,2017
30,31,32,JAWA BARAT,3204,KABUPATEN BANDUNG,375135,UNIT,2017
31,32,32,JAWA BARAT,3205,KABUPATEN GARUT,275175,UNIT,2017
32,33,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,199704,UNIT,2017

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   346 non-null    int64
 1   kode_provinsi        346 non-null    int64
 2   nama_provinsi        346 non-null    object
 3   kode_kabupaten_kota  346 non-null    int64
 4   nama_kabupaten_kota  346 non-null    object
 5   persentase_penduduk  346 non-null    float64
 6   satuan               346 non-null    object
 7   tahun                346 non-null    int64
dtypes: float64(1), int64(4), object(3)
memory usage: 21.8+ KB

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   162 non-null    int64
 1   kode_provinsi        162 non-null    int64
 2   nama_provinsi        162 non-null    object
 3   kode_kabupaten_kota  162 non-null    int64
 4   nama_kabupaten_kota  162 non-null    object
 5   jumlah_umkm          162 non-null    int64
 6   satuan               162 non-null    object
 7   tahun                162 non-null    int64
dtypes: int64(5), object(3)
memory usage: 10.2+ KB